/* Color Scheme: https://coolors.co/50514f-b4adea-fdfff7-59ffa0-ffed65 */

.navbar-inverse {
    background: #50514F;
}

ul.pages-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.pages-list > li {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

ul.pages-list > li > a {
    color: #666;
    display: block;
}

ul.pages-list > li > a img {
    max-width: 32px;
}

#section-editing > #fullscreen-editing {
    float: right;
}

.section-list > .item {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.section-list .section-head {
    display: block;
    padding: 3px;
    background-color: #eee;
    color: #333;
}

.section-list .section-head:hover {
    text-decoration: none;
    background: #e5e5e5;
}

.section-list .section-head:active, .section-list .section-head:focus {
    text-decoration: none;
}

.section-list .section-body {
    padding: 3px;
    background: #fafafa;
}

.section-list .section-body .changed {
    background-color: #FFED65;
}

.add-section {
    margin-top: 15px;
}

.add-section #add-section-list {
    background: #eee;
}

.add-section #add-section-form {
    display: none;
}